In [7]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
import os
import pickle

reg = pickle.load(open(os.path.join('ridge/pkl_objects',
                             'reg.pkl'),'rb'))

In [9]:
reg.names_

AttributeError: 'LinearRegression' object has no attribute 'names_'

In [10]:
import pandas as pd
reg_int= reg.intercept_
reg_coef=list(reg.coef_)
col=['평균기온','강수량','일조시간','운량','월_1','월_10','월_11','월_12','월_2','월_3','월_4','월_5','월_6','월_7','월_8','월_9']
reg= pd.DataFrame(reg_coef).T
reg.columns = col
reg

,평균기온,강수량,일조시간,운량,월_1,월_10,월_11,월_12,월_2,월_3,월_4,월_5,월_6,월_7,월_8,월_9
0,0.0058,0.003325,-0.009128,-0.01198,-0.206455,-0.0678,-0.028765,-0.131178,-0.165118,-0.284887,-0.015427,0.363598,0.556001,0.106573,-0.070335,-0.056206

In [11]:
reg = reg[['평균기온','강수량','일조시간','운량','월_1','월_2','월_3','월_4','월_5','월_6','월_7','월_8','월_9','월_10','월_11','월_12']]
reg

,평균기온,강수량,일조시간,운량,월_1,월_2,월_3,월_4,월_5,월_6,월_7,월_8,월_9,월_10,월_11,월_12
0,0.0058,0.003325,-0.009128,-0.01198,-0.206455,-0.165118,-0.284887,-0.015427,0.363598,0.556001,0.106573,-0.070335,-0.056206,-0.0678,-0.028765,-0.131178

In [12]:
import numpy as np
평균온도 = float(input('평균 온도: '))
강수량 = np.log1p(float(input('강수량: ')))
일조시간 =float(input('일조시간: '))
운량 = float(input('운량: '))
몇월 = int(input('월: '))
월 = [0,0,0,0,0,0,0,0,0,0,0,0]
월[몇월-1]=1

data = [평균온도,강수량,일조시간,운량]    
for i in 월:
    data.append(i)

평균 온도: 28
강수량: 1
일조시간: 5.8
운량: 4.2
월: 9

In [13]:
배추가격 = 0
for i in range(16):
    배추가격 += data[i] * reg.iloc[0,i]

print('예상 배추 가격은',int(np.expm1(배추가격+reg_int)),'원 입니다.')

예상 배추 가격은 7687 원 입니다.